---
interface Props {
  id: number;
  date: Date;
  color: string;
  textColor: string;
}

const { props } = Astro;

import { customDayJs as dayjs, tz } from "@helpers/time";

import { TimeAgo } from "@components/TimeAgo";

const isMidnight = dayjs(props.date).tz(tz).format("HH:mm") === "00:00";

const bgStyle = {
  "background-color": props.color,
  "border-color": props.textColor,
  color: props.textColor,
};

const fmtDate = dayjs(props.date).tz(tz).format("dd DD MMM YYYY HH:mm");
---

<a
  class="bg-color text-small text-decoration-none"
  class:list={{ opacify: !isMidnight }}
  href={`/record/${props.id}`}
  title={`Ver detalle del ${fmtDate}`}
  style={bgStyle}
>
  <TimeAgo date={props.date} isMidnight={isMidnight} client:visible />
</a>
